form {
  width: 100%;

  .acs-form-group {
    display: flex;
    flex-direction: column;

    margin: 20px 0;

    input:not([type]),
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="url"],
    input[type="text"] {
      &.acs-input {
        flex: 1;

        background-color: rgba(255, 255, 255, 0.28);
        color: #fff;

        border: 2px solid transparent;
        border-radius: 10px;

        padding: 15px 10px;
        font-size: 1rem;

        &::selection {
          background-color: #1b1b1b;
        }
        &::placeholder {
          color: #fff;
          font-style: italic;
        }

        &:focus {
          outline: none;
          border: 2px solid #bdbdbd;
        }
        &.ng-dirty.ng-invalid{
          border-color: #920e1c;
        }
      }
    }

    .icon-input {
      display: flex;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;

        width: 24px;
        padding: 13px 10px;
        user-select: none;
      }
      .acs-input {
        flex: 1;
        padding-left: 45px !important;
      }
    }
  }

  .acs-form-buttons {
    display: flex;

    button {
      flex: 1;

      border: 1px solid transparent;
      border-radius: 10px;
      padding: 13px 13px;

      font-weight: bold;
      font-size: 1rem;
      letter-spacing: 1px;

      color: #5c0072;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #e5e5e5;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
